.nav {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -3px 5px 3px grey;
  position: relative;
  .nav__logo {
    color: black;
    @include logo-font;
    font-size: 1.7rem;
  }
  a {
    position: absolute;
    left: 20px;
    font-size: 22px;
    text-decoration: none;
    color: black;
  }
}
