@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.home-header {
  background-color: #f6f6f6;
}
.home-header .home-header__geoloc {
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header .home-header__geoloc i {
  margin-right: 10px;
}
.home-header .home-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 0;
}
.home-header .home-header__content h1 {
  font-size: 2rem;
  margin-bottom: 25px;
}
.home-header .home-header__content .home-header__button {
  margin-top: 25px;
  height: 60px;
  width: 260px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 400ms, background 1000ms;
}
.home-header .home-header__content .home-header__button:hover {
  transform: scale(1.15);
}
.home-header .home-header__content .home-header__button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 17px 11px;
}

.functioning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.functioning .functioning__title {
  width: 100%;
  margin: 35px 0 20px 0;
}
.functioning .functioning__quote {
  height: 80px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 25px;
  box-shadow: 2px 5px 5px grey;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.8s;
}
.functioning .functioning__quote:hover {
  background-color: #f5edff;
}
.functioning .functioning__quote:hover .quote__nbr {
  background-color: #9356dc;
}
.functioning .functioning__quote:hover i {
  color: #9356dc;
}
.functioning .functioning__quote .quote__nbr {
  height: 30px;
  width: 30px;
  background-color: #9356dc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  position: absolute;
  left: -12px;
}
.functioning .functioning__quote i {
  color: grey;
  padding: 0 25px 0 35px;
}
.functioning .functioning__quote p {
  font-weight: 500;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 50px 0;
}
.restaurant .restaurant__card {
  margin-top: 35px;
  height: 300px;
  border-radius: 25px;
  background-color: white;
  position: relative;
}
.restaurant .restaurant__card a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant__card a .restaurant__new {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border-radius: 3px;
}
.restaurant .restaurant__card a .restaurant__new p {
  color: #6b9e92;
  font-weight: bold;
}
.restaurant .restaurant__card a img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.restaurant .restaurant__card a .restaurant__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.nav {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -3px 5px 3px grey;
}
.nav .nav__logo {
  font-size: 32px;
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
}
.nav a {
  position: absolute;
  left: 20px;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

footer {
  background-color: #333;
}
footer .container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
footer .container .footer__logo {
  padding: 0 0 30px 0;
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  color: white;
}
footer .container .footer__icon {
  display: flex;
  color: white;
  padding-bottom: 5px;
}
footer .container .footer__icon i {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
}
footer .container .footer__icon a {
  text-decoration: none;
  color: white;
}
footer .container a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
