@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes disable-scroll {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: hidden;
  }
}
@keyframes loading-anim {
  0% {
    z-index: 3;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 3;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu-item-position {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media all and (min-width: 1280px) {
  .menu-content {
    display: flex;
    justify-content: space-between;
  }
  .menu-content .menu-group {
    width: 30%;
  }

  .container__quote {
    display: flex;
    justify-content: space-between;
  }
  .container__quote .functioning__quote {
    width: 30%;
  }

  .container__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container__card .restaurant__card {
    width: 48%;
  }

  footer .container {
    width: 70%;
    margin: 0 auto 0 5%;
  }
  footer .container-footer {
    flex-direction: initial !important;
    justify-content: space-between;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.menu-card {
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 20px 0 0 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px #c3c3c3;
  position: relative;
  animation: menu-item-position 1500ms forwards;
  opacity: 0;
  transition: all 500ms;
}
.menu-card:hover .menu-card__content .menu-card__price {
  margin-right: 81px;
}
.menu-card:hover .menu-card__content .menu-card__title {
  margin-right: 81px;
}
.menu-card:hover .menu-card__animation .menu-card__icon {
  transform: translateX(0);
}
.menu-card:hover .menu-card__animation .menu-card__icon i {
  transform: rotate(360deg);
}
.menu-card .menu-card__content {
  width: 100%;
}
.menu-card .menu-card__content .menu-card__title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 400ms;
}
.menu-card .menu-card__content .menu-card__description {
  display: flex;
  justify-content: space-between;
}
.menu-card .menu-card__content .menu-card__description .menu-card__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card .menu-card__content .menu-card__price {
  font-weight: bold;
  transition: all 400ms ease-in-out;
}
.menu-card .menu-card__animation {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.menu-card .menu-card__animation .menu-card__icon {
  transition: transform 400ms ease-in-out;
  transform: translateX(81px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
}
.menu-card .menu-card__animation .menu-card__icon i {
  transition: transform 400ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  font-size: 22px;
  color: #99e2d0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  margin: 50px 0;
  transition: all 300ms linear;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 10px #c3c3c3;
}
.button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #aaaaaa;
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ff79da;
  opacity: 0;
  transition: all 300ms linear;
  z-index: 0;
  position: absolute;
}
.button a {
  z-index: 1;
  color: white;
  text-decoration: none;
  padding: 20px 40px;
}

.nav {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -3px 5px 3px grey;
  position: relative;
}
.nav .nav__logo {
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}
.nav a {
  position: absolute;
  left: 20px;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

header .header-img {
  position: relative;
}
header .header-img img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}
header .header-img__title {
  position: absolute;
  bottom: 0;
  background-color: #f6f6f6;
  height: 75px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
header .header-img__title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
}
header .header-img__title i {
  font-size: 22px;
}

footer {
  background-color: #333;
}
footer .container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
footer .container .footer__logo {
  padding: 0 0 30px 0;
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  color: white;
}
footer .container .footer-icon-link .footer__icon {
  display: flex;
  color: white;
  padding-bottom: 5px;
}
footer .container .footer-icon-link .footer__icon i {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
}
footer .container .footer-icon-link .footer__icon a {
  text-decoration: none;
  color: white;
}
footer .container .footer-link {
  display: flex;
  flex-direction: column;
}
footer .container .footer-link a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.body-index {
  animation: disable-scroll 2000ms;
}

.loading-animation {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #f6f6f6;
  z-index: -3;
  opacity: 0;
  animation: loading-anim 2000ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-animation .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 15px solid #9356dc;
  position: relative;
}
.loading-animation .loading-spinner::before {
  content: "";
  position: absolute;
  border-radius: 75px;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  border: 7px solid transparent;
  border-top-color: #99e2d0;
  animation: spin 750ms linear 3;
}
.loading-animation .loading-spinner::after {
  content: "";
  position: absolute;
  border-radius: 75px;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  border: 7px solid transparent;
  border-top-color: #ff79da;
  animation: spin 1000ms linear 2;
}
.loading-animation .loading-spinner span {
  font-family: "Shrikhand", cursive;
}

.home-header {
  background-color: #f6f6f6;
}
.home-header__geoloc {
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header__geoloc i {
  margin-right: 10px;
}
.home-header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px 0;
}
.home-header__content h1 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.functioning {
  padding-bottom: 50px;
}
.functioning .container__quote {
  width: 100%;
  padding-left: 10px;
}
.functioning__title {
  margin: 35px 0 20px 0;
}
.functioning__quote {
  height: 80px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 10px #c3c3c3;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.8s;
}
.functioning__quote:hover {
  background-color: #f5edff;
}
.functioning__quote:hover .quote__nbr {
  background-color: #9356dc;
}
.functioning__quote:hover i {
  color: #9356dc;
}
.functioning__quote .quote__nbr {
  height: 30px;
  width: 30px;
  background-color: #9356dc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  position: absolute;
  left: -12px;
}
.functioning__quote i {
  color: grey;
  padding: 0 25px 0 35px;
}
.functioning__quote p {
  font-weight: 500;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 50px 0;
}
.restaurant .restaurant__card {
  margin-top: 35px;
  height: 300px;
  border-radius: 25px;
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 10px #c3c3c3;
}
.restaurant .restaurant__card a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant__card a .restaurant__new {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border-radius: 3px;
}
.restaurant .restaurant__card a .restaurant__new p {
  color: #6b9e92;
  font-weight: bold;
}
.restaurant .restaurant__card a img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
.restaurant .restaurant__card a .restaurant__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.restaurant .restaurant__card a .restaurant__card-content .heart-border {
  font-size: 21px;
  width: 24px;
}
.restaurant .restaurant__card a .restaurant__card-content .heart-solid {
  font-size: 21px;
  width: 24px;
  position: absolute;
  right: 15px;
  transition: all 500ms;
  opacity: 0;
  background: -moz-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .restaurant__card a .restaurant__card-content .heart-solid:hover {
  opacity: 1;
}

.menu {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.menu .menu-group:nth-child(3) {
  animation-delay: 0ms;
}
.menu .menu-group :nth-child(4) {
  animation-delay: 250ms;
}
.menu .menu-group :nth-child(5) {
  animation-delay: 500ms;
}
.menu .menu-title {
  padding: 25px 0 5px 0;
}
.menu .title-border-green {
  height: 3px;
  width: 50px;
  background-color: #99e2d0;
}
.menu .btn-big {
  padding: 0 55px;
}

/*# sourceMappingURL=style.css.map */
