.button-reservation-module {
  margin-top: 25px;
  height: 60px;
  width: 260px;
  background: linear-gradient(to top, $primary-color, $secondary-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 400ms, background 1000ms;
  &:hover {
    transform: scale(1.15);
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 17px 11px;
  }
}
