.button {
  @include flex-center;
  border-radius: 30px;
  background: $gradient-button;
  margin: 50px 0;
  transition: all 300ms linear;
  overflow: hidden;
  position: relative;
  @include elem-shadow;

  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px darken($light-grey, 30%);
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: $secondary-color-pink;
    opacity: 0;
    transition: all 300ms linear;
    z-index: 0;
    position: absolute;
  }
  a {
    z-index: 1;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
  }
}
