.menu-card {
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 20px 0 0 0;
  border-radius: 20px;
  overflow: hidden;
  @include elem-shadow;
  position: relative;
  animation: menu-item-position 1500ms forwards;
  opacity: 0;
  transition: all 500ms;

  &:hover .menu-card__content {
    .menu-card__price {
      margin-right: 81px;
    }
    .menu-card__title {
      margin-right: 81px;
    }
  }

  &:hover .menu-card__animation {
    .menu-card__icon {
      transform: translateX(0);
      i {
        transform: rotate(360deg);
      }
    }
  }

  .menu-card__content {
    width: 100%;
    .menu-card__title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 400ms;
    }

    .menu-card__description {
      display: flex;
      justify-content: space-between;

      .menu-card__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .menu-card__price {
      font-weight: bold;
      transition: all 400ms ease-in-out;
    }
  }

  .menu-card__animation {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    .menu-card__icon {
      transition: transform 400ms ease-in-out;
      transform: translateX(81px);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80px;
      border-radius: 0 20px 20px 0;
      background-color: $tretiary-color-green;

      i {
        transition: transform 400ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        font-size: 22px;
        color: $tretiary-color-green;
      }
    }
  }
}
