.home-header {
  background-color: $light-grey;

  &__geoloc {
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 0;
    h1 {
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }

  &__button {
    margin-top: 25px;
    height: 60px;
    width: 260px;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 400ms ease-out;
    &:hover {
      transform: scale(1.2);
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      padding: 17px 11px;
    }
  }
}
