.home-header {
  background-color: $light-grey;

  &__geoloc {
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 0;
    h1 {
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }
}

.functioning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;

  &__title {
    width: 100%;
    margin: 35px 0 20px 0;
  }

  &__quote {
    height: 80px;
    width: 100%;
    background-color: $light-grey;
    border-radius: 25px;
    margin-bottom: 25px;
    @include elem-shadow;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.8s;
    &:hover {
      background-color: #f5edff;

      .quote__nbr {
        background-color: $primary-color-purple;
      }
      i {
        color: $primary-color-purple;
      }
    }

    .quote__nbr {
      height: 30px;
      width: 30px;
      background-color: $primary-color-purple;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1rem;
      position: absolute;
      left: -12px;
    }

    i {
      color: grey;
      padding: 0 25px 0 35px;
    }

    p {
      font-weight: 500;
    }
  }
}

.restaurant {
  background-color: $light-grey;
  padding: 50px 0;

  .restaurant__card {
    margin-top: 35px;
    height: 300px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    @include elem-shadow;
    a {
      text-decoration: none;
      color: black;
      .restaurant__new {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: $tretiary-color-green;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100px;
        border-radius: 3px;
        p {
          color: mix(black, $tretiary-color-green, 30%);
          font-weight: bold;
        }
      }
      img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 25px 25px 0 0;
      }

      .restaurant__card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
      }
    }
  }
}
