.menu {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  .menu-group {
    &:nth-child(3) {
      animation-delay: 0ms;
    }

    :nth-child(4) {
      animation-delay: 250ms;
    }

    :nth-child(5) {
      animation-delay: 500ms;
    }
  }

  .menu-title {
    padding: 25px 0 5px 0;
  }

  .title-border-green {
    height: 3px;
    width: 50px;
    background-color: $tretiary-color-green;
  }

  .btn-big {
    @include btn-size(0 55px);
  }
}
