.menu {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  .menu-title {
    padding: 25px 0 5px 0;
  }

  .title-border-green {
    height: 3px;
    width: 50px;
    background-color: $tretiary-color-green;
  }

  .btn-big {
    @include btn-size(0 55px);
  }
}
