.restaurant {
  background-color: $light-grey;
  padding: 50px 0;

  .restaurant__card {
    margin-top: 35px;
    height: 300px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    a {
      text-decoration: none;
      color: black;
      .restaurant__new {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: $tretiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100px;
        border-radius: 3px;
        p {
          color: mix(black, $tretiary-color, 30%);
          font-weight: bold;
        }
      }
      img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 25px 25px 0 0;
      }

      .restaurant__card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
      }
    }
  }
}
