.reservation-module {
  background-color: $light-grey;

  .reservation-module__nav {
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }
  .reservation-module__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 0;
    h1 {
      font-size: 2rem;
      margin-bottom: 25px;
    }
  }
}
