@media all and (min-width: 1280px) {
  // Pages menu

  .menu-content {
    display: flex;
    justify-content: space-between;
    .menu-group {
      width: 30%;
    }
  }

  // Page index

  .container__quote {
    display: flex;
    justify-content: space-between;
    .functioning__quote {
      width: 30%;
    }
  }

  .container__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .restaurant__card {
      width: 48%;
    }
  }

  // Footer

  footer {
    .container {
      width: 70%;
      margin: 0 auto 0 5%;
    }
    .container-footer {
      flex-direction: initial !important;
      justify-content: space-between;
    }
  }
}
